Source: aiomqtt
Maintainer: "Matthias Urlichs" <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 13),
  python3-poetry-core (>= 1.0.0),
  python3-poetry-dynamic-versioning (>= 1.0.0),
Standards-Version: 3.9.6
Homepage: 

Package: python3-aiomqtt
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
Description: An anyio wrapper for wrapped around paho-mqtt
  aiomqtt combines the stability of the time-proven paho-mqtt library with an
  idiomatic async interface.

